{% extends "recipeshare/layout.html" %}
{% load static %}

{% block body %}
    <div class="posts_container">
        {% if posts %}
            {% for post in posts %}
                <a href="{% url 'viewPost' post.id %}" class="view_post">
                    <div class="post_card">
                        <div class="post_image">
                            <img src="{{ post.image_url }}" alt="{{ post.recipe_name }}">
                        </div>
                        <div class="recipe_details_1">
                            <div class="recipe_author">{{ post.author }}</div>
                            <div class="recipe_date_created">{{ post.timestamp|date:"F j, Y" }}</div>
                        </div>
                        <div class="recipe_name">{{ post.recipe_name }}</div>
                        <div class="recipe_details_2">
                            <i class="fa fa-thumbs-up" aria-hidden="true">  {{ post.likes_count }}</i>
                            <i class="fa fa-eye" aria-hidden="true">  {{ post.views_count }}</i>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <div class="alert alert-secondary" role="alert">
                No Favorites added.
            </div>
        {% endif %}
    </div>
{% endblock %}