{% extends "home/layout.html" %}
{% load static %}

{% block body %}
    <div class="program-block">
        <h1>BBA at <span>SITAM</span></h1>
        <div class="horizontal">
            <img src="{% static 'assets/college/btech-life.jpg'%}" alt="sitam-life">
            <p>The Bachelor of Business Administration (BBA) program at Satya Institute of Technology and Management (SITAM) is designed to provide students with a strong foundation in business principles and practices. Our BBA program emphasizes the development of critical thinking, leadership, and entrepreneurial skills, preparing students for successful careers in the dynamic world of business.</p>
        </div>
    </div>
{% endblock %}