{% extends "home/layout.html" %}
{% load static %}

{% block body %}
    <div class="program-block">
        <h1>MBA at <span>SITAM</span></h1>
        <div class="horizontal">
            <img src="{% static 'assets/college/btech-life.jpg'%}" alt="sitam-life">
            <p>The Master of Business Administration (MBA) program at Satya Institute of Technology and Management (SITAM) is designed to develop future business leaders and managers with a global perspective. Our MBA program provides a rigorous and dynamic curriculum that combines theoretical insights with practical applications, preparing students for leadership roles in various industries.</p>
        </div>
    </div>
{% endblock %}